@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, p, ul, ol, table, dl, dd {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 16px;
}
a {
	text-decoration: none;
	color: #000;
}
ul, ol {
	list-style: none;
}
img {
	max-width: 100%;
	vertical-align: top;
	border: none;
}
body {
	line-height: 1;
	font-family: "Open Sans", "Noto Sans KR", sans-serif;
}
.wrap {
	position: relative;
}

.skip_nav a {
	position: fixed; 
	left: 0px;
	top: -9999px; 
	z-index: 9999;
	width: 100%; 
	height: 40px;
	line-height: 40px; 
	text-align: center;
	font-size: 14px;
	background-color: #000; 
	color: #fff;	
}
.skip_nav a:focus {
	top: 0;
}

/* start */
#start {
	position: relative;
}

#start .lnb {
	display: flex;
	flex-direction: column;
	align-items: center; /* 가로 중앙 배치 */
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
	width: 100px;
	height: 100%;
	margin-top: 50px;
	background-color: #fff;
}
#start .lnb .search {
	margin-top: 45px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
#start .lnb .search i {
	font-size: 1.250em;
	color: #000;
	transition: 0.4s;
}
#start .lnb .search.active i {
	color: #ff330e;
	transform: rotate(45deg);
}

#header {
	display: flex;
	justify-content: space-between;
	width: 1250px;
	height: 120px;
	margin: 0 auto;
	align-items: center;
}

nav > ul {
	display: flex;
}
nav > ul > li {
	position: relative;
}
nav > ul > li > a {
	display: block;
	padding: 0 42px;
	line-height: 40px;
	font-size: 1em;
	font-weight: 600;
	color: #000;
}
/* nav > ul > li:hover > a {
	color: #ff330e;
} */
nav > ul > li.active > a {
	color: #ff330e;
}
/*sub*/
nav ul li .sub { 
	display: none; 
	position: absolute;
	z-index: 500;
	width: 100%;
}
/*
nav ul li:hover .sub { 
	li 요소에 호버하면 .sub 요소가 표시됩니다. (none -> block)
	display: block;
}
*/
nav ul li.active .sub { 
	display: block;
}
nav ul .sub li a { 
	display: block;
	margin: 2px 0;
	padding-left: 10px; 
	line-height: 26px;
	font-size: 0.875em;
	background-color: #999;
	color: #fff;
	transition: background-color 0.3s ease;
}
nav ul .sub li a:hover {
	background-color: #ff330e;
}

#start .slider {
	position: relative;
	height: 600px; 
	overflow: hidden;
}
#start .slider .gallery  {
	position: relative;
	width: 100%;
	height: 100%;
}
#start .slider .gallery .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover; 
}
#start .slider .gallery .swiper-slide .author {
	position: absolute;
	left: 50%;
	transform: translateX(-40vw);
	bottom: 30px; 
}
#start .slider .gallery .swiper-slide .author span {
	display: block;
	font-size: 0.813em;
	font-style: italic;
	line-height: 1.5;
	color: #fff;
}
#start .slider .gallery .swiper-slide .swiper-pagination .swiper-pagination-bullet {
	position: absolute;
	bottom: 0;
	right: 200px;
	margin: 0 8px;
	width: 12px;
	height: 12px;
	background-color: rgba(245,245,245,.5);
	opacity: 1;
	border-radius: 50%;
}
#start .slider .gallery .swiper-slide .swiper-pagination .swiper-pagination-bullet-active {
	background-color: var(--swiper-theme-color);
	opacity: 1.5;
}
:root {
	--swiper-theme-color: #ff330e;
}

#start .slider .content {
	position: absolute;
	left: 50%;
	top: 0;
	z-index: 5;
	width: 1220px; /* width: 1250px; */
	height: 100%;
	transform: translateX(-50%);
	pointer-events: none;
}
#start .slider .content .info {
	position: absolute;
	left: 50px;
	top: 50%;
	z-index: 15;
	width: 500px;
	transform: translateY(-50%);
}
#start .slider .content .info p {
	line-height: 1.75;
	font-size: 1.375em;
	font-weight: 600;
	color: #ff330e;
}
#start .slider .content .info a {
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin-top: 3px;
}
#start .slider .content .info a strong {
	display: inline-block;
	padding: 10px 13px 10px 10px;
	font-size: 3.125em;
	font-weight: 600;
	background-color: #ff330e;
	color: #fff;
}

/* area1 */
#area1 {
	display: flex;
	align-items: flex-end;
	gap: 80px;
	position: relative;
	margin: 0 auto;
	padding: 100px 0;
	width: 1250px;
}
#area1::before {
	content: "";
	position: absolute;
	left: 0;
	top: 90px;
	width: 55px;
	height: 7px;
	background-color: #060606;
}
#area1 .title {
	padding-top: 22px;
	width: 420px;
}
#area1 .title p {
	line-height: 1.65;
	font-size: 1.125em;
}
#area1 .title .label {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 22px;
}
#area1 .title .label h2 {
	font-size: 2em;
	font-weight: 600;
}
#area1 .title .more {
	padding: 8px 6px;
    font-weight: 300;
	font-size: 0.875em;
    background-color: #060606;
    color: #fff;
}
#area1 .title .more_button a:hover,
#area1 .title .more_button a:focus {
	background-color: #ff330e;
	transition: background-color 0.3s ease;
}
#area1 .cont {
	width: calc(100% - 500px);
	font-size: 1em;
    line-height: 1.75;
}

/* area2 */
#area2 {
	display: flex;
	width: 1250px;
	margin: 0 auto;
	padding: 100px 0;
}
#area2 .cont {
	margin: 0 20px;
}
#area2 .cont:nth-child(1) {
	width: 30%;
	margin-left: 0;
}
#area2 .cont:nth-child(3) {
	width: 30%;
	margin-right: 0;
}

#area2 .title { 
	font-size: 1.188em;
	line-height: 1.6;
	font-weight: 600;
	margin-bottom: 11px;
}
#area2 .visual a {
	display: block;
	position: relative;
}
#area2 .visual a .hover { 
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	font-size: 20px;
	font-weight: 800;
	color: #ff330e;
	opacity: 0;
	border: 1px solid #ff330e;
	transition: 0.3s;
}
#area2 .visual a:hover .hover { 
	left: -10px;
	top: 10px;
	opacity: 1;
}
#area2 .visual a .image {
	height: 284px;
	overflow: hidden;
}
#area2 .visual a .image img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: scale(1);
	transition: transform 0.3s;
}
#area2 .visual a:hover .image img {
	transform: scale(1.1);
}

#area2 .desc {
	padding-top: 12px;
}
#area2 .desc strong {
	display: block;
	font-size: 1em;
	line-height: 1.5;
}
#area2 .desc span {
	display: block; 
	font-size: 0.875em;
}

/* area3 */
#area3 {
	padding: 100px 0;
	overflow: hidden;
}
#area3 .title {
	font-size: 1.188em;
    line-height: 1.6;
    font-weight: 600;
	padding-bottom: 12px;
	width: 1250px;
	margin: 0 auto;
}
#area3 .cont {
	position: relative;
	margin: 0 auto;
	width: 1250px;
	overflow: visible;
}
#area3 .cont .inner {
	width: 100vw;
	height: 300px;
}
#area3 .cont .inner > img {
	display: block;
	width: 100%;
	height: 100%;
}
#area3 .pop {
	position: absolute;
	top: 60px;
	left: 150px;
	width: 320px;
	height: 185px;
	background-color: #f9f9f9;
}
#area3 .pop a {
	display: block;
	padding: 20px 15px 10px 15px;
}
#area3 .pop h3 {
	font-size: 1.5em;
	line-height: 28px;
	padding: 10px 0;
}
#area3 .pop .text {
	font-size: 0.875em;
	line-height: 21px;
	padding: 10px 0;
}
#area3 .pop img {
	position: absolute;
	top: 13px;
	right: 15px;
}
#area3 .pop .btnMore {
	position: absolute;
	bottom: 17px;
	right: 15px;
	font-weight: 700;
	color: #fff;
}

/* area4 */
#area4 {
	display: flex;
	gap: 20px;
	width: 1250px;
	margin: 0 auto;
	padding: 100px 0;
}
#area4 .title {
	font-size: 1.188em;
    line-height: 1.6;
    font-weight: 600;
    padding-bottom: 12px;
}
#area4 .video {
	width: 40%;
}
#area4 .video .content #main-video {
	/*img와 같음*/
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#area4 .content {
	height: 345px;
}
#area4 .board {
	width: 35%;
}
#area4 .board .content {
	background-color: #f0f0f0;
}
#area4 .board .content .inner {
	padding: 20px 18px;
}
#area4 .board .top {
	padding: 0 0 30px 0;
}
#area4 .board .top strong {
	font-size: 0.875em;
	line-height: 20px;
	color: #999999;
}
#area4 .board .top p {
	padding: 21px 0;
	font-weight: 500;
	color: #656766; 
}
#area4 .board .top span {
	font-size: 0.875em;
	line-height: 20px;
	color: #656766; 
}
#area4 .board .content .article {
	position: relative;
	padding: 30px 0 0 0;
}
#area4 .board .content .article::after {
	content: "";
	width: 100%;
	height: 1px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #656766;
}
#area4 .board .content .article li {
	display: flex;
	justify-content: space-between;
}
#area4 .board .content .article li a {
	width: 100%;
	font-size: 14px;
	line-height: 27px;
	color: #656766;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#area4 .board .content .article li span {
	width: 30%;
	font-size: 0.875em;
	line-height: 27px;
	color: #656766;
}
#area4 .poster {
	width: calc(25% - 40px);
	/* calc(나머지두개 넓이 합친거 - 갭) */
}
#area4 .poster .content img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}


/* footer */
#footer {
	padding: 100px 0 50px;
	min-width: 1250px;
	background-color: #212121;
}
#footer .info {
	display: flex;
	align-items: flex-end;
	margin: 0 auto;
	width: 1250px;
}
#footer .info .center {
	padding: 0 50px 50px 0;
	width: 50%;
}
#footer .info .center .main span {
	font-size: 1.25em;
	color: #fff;
}
#footer .info .center .main span.address {
	display: block;
	padding-top: 35px;
	line-height: 1.75;
	font-size: 0.875em;
	color: #adb5bd;
}
#footer .info .center .main .address:nth-child(1) {
	padding-top:0px;
}
#footer .info .center .icon_area {
	display: flex;
	justify-content: flex-end;
	position: relative;
	margin-top: 70px;
}
#footer .info .center .icon_area::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	width: 70%;
	height: 1px;
	background-color: #666;
}
#footer .info .center .icon_area ul {
	display: flex;
	gap: 10px;
}
#footer .info .center .icon_area ul li a {
	padding: 0 5px;
	font-size: 1.875em;
	color: #adb5bd;
}
#footer .info .center .icon_area ul li a:hover i,
#footer .info .center .icon_area ul li a:focus i {
	color: #fff;
}
#footer .info .center .homepage {
	padding-top: 50px;
}
#footer .info .center .homepage ul {
	display: flex;
}
#footer .info .center .homepage ul li a {
	display: block;
	position: relative;
	padding: 0 15px;
	line-height: 1.75;
	font-size: 0.875em;
	color: #adb5bd;
	transition: color 0.4s;
}
#footer .info .center .homepage ul li a::after {
	content: "";
	position: absolute;
	right: 0;
	top: 5px;
	width: 1px;
	height: 12px;
	background-color: #666;
}
#footer .info .center .homepage ul li:first-child a {
	padding-left: 0;
}
#footer .info .center .homepage ul li:last-child a::after {
	display: none;
}
#footer .info .center .homepage ul li a:hover,
#footer .info .center .homepage ul li a:focus {
	color: #fff;
}
#footer .info .center .admin {
	padding-top: 12px;
}
#footer .info .center .admin ul {
	display: flex;
}
#footer .info .center .admin ul li {
	position: relative;
	padding: 0 15px;
	font-size: 0.875em;
	color: #666;
}
#footer .info .center .admin ul li::after {
	content: "";
	position: absolute;
	right: 0;
	top: 3px;
	width: 1px;
	height: 12px;
	background-color: #666;
}
#footer .info .center .admin ul li:first-child {
	padding-left: 0;
}
#footer .info .center .admin ul li:last-child::after {
	display: none;
}
#footer .info .sub {
	width: 25%;
}
#footer .info .sub .title {
	position: relative;
	padding: 20px 0;
	font-size: 1.25em;
	color: #adb5bd;
}
#footer .info .sub .title::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 80%;
	height: 1px;
	background-color: #666;
}
#footer .info .sub .content {
	padding-top: 28px;
}
#footer .info .sub ul li,
#footer .info .sub ul li a {
	display: block;
	line-height: 2;
	font-size: 0.875rem;
	color: #adb5bd;
}
#footer .info .sub ul li a:hover,
#footer .info .sub ul li a:focus {
	color: #fff;
}
#top {
	display: none;
	position: fixed;
	right: 50px;
	bottom: 40px;
	z-index: 1000;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 0.813em;
	background-color: #ff330e;
	color: #fff;
	border-radius: 25px;
	transition: background-color 0.4s;
}
#top:hover,
#top:focus {
	background-color: #999;
}